body {

  overflow-x:hidden;
  font-family: 'Open Sans', sans-serif;
  color: #555;

}

h1, h2, h3 {
	font-weight:normal;
}

h1 {
  font-size: 14pt;
  border-bottom: 1px solid #d0d0d0;
  line-height:2em;

}
h3 {

	font-size:13pt;
}
h2 {
	font-size:12pt;

}

a:link a:visited{
  text-decoration: underline;
  color: #6d6e71 !important;
}

a:hover {
	text-decoration: none;
}

li {
	//padding: 5px 15px 5px 15px;
	list-style-type:square;
}

.smalltext, .smalltext a {
	font-family: 'Open Sans', sans-serif ;
	font-size: 8pt;
}

#se_querystrings {
	width: 450px;
}

#se_names {
	width: 130px;
}

.dragHandle {
	width: 20px;
	cursor: n-resize;
	background:url(/images/updown.png) center no-repeat;
}

.showDragHandle {
	background:url(/images/updown-high.png) center no-repeat;
}

#data_table td {
	font: normal normal 11px 'Open Sans', sans-serif;
}

#data_table tr {
	height: 28px;
}

#data_table tr:hover {
	background-color: #ddf;
}

.done {text-decoration: line-through;}

#data_table .header td
{
	font: 13px 'Open Sans', sans-serif;

	border-bottom: 1px solid #f0f0f0;	border-top: 1px solid #f0f0f0;
}

.searchString {
	font-weight: 600;
	color: #009ACC;
}


.heading {

	width:950px;
	height:30px;
	font-size:14pt;
}

.gPlus {
	float:right;
}

.jquery-ui-header {
	border: 1px solid #ccf2ff; background: #ccf2ff url(/grid/css/images/ui-bg_flat_75_ccf2ff_40x100.png) 50% 50% repeat-x; color: #444444; font-weight: 600;
}
.content {

	display:none;
	position:absolute;
	margin-left:170px;
	font-size: 11px !important;
	width:750px;
	line-height: 1.5 em;
}


.rightMenu {
	float:left;
	width:155px;
	font-size: 12px;

}

.rightMenu ul {

	list-style-type: none;
	margin-left: -50px;


}
.rightMenu li {
	padding: 5px 15px 5px 15px;
	cursor:pointer;
	color:#a0a0a0;
}

.selected {
	-webkit-border-start: 6px solid;
	color:#000000 !important;
}


p { padding: 5px 0; }

/*grid #externalURLTable tr.ui-row-ltr td {font-size: 11px !important}*/

.rounded-corners {
    -webkit-border-radius: 7px;
	-webkit-box-shadow: 5px 5px 5px #bbb;
}

.mainTable {
	padding:10px;
	width:780px;
	font-size:10pt;

}

.selector {
	font: 11px 'Open Sans', sans-serif;
}

div.newTabOptions {

	margin-left: 20px;
}

.action {
	width:19px;
	float:left;
}

.action, .URLCell, .nameCell, .newLine
{
cursor: pointer;
}

.realSmall {
	font:8px;
}