<h1 i18n-content="o_otherStuffYouCan">Other stuff you can configure</h1>
<form>

  <div class="form-group">
    <input type="checkbox" ng-model="localConfig.newTab" id="newTab"> <label  i18n-content="o_openLinksInNewTab" for="newTab">Open links in new tab.</label>
  </div>
  
  <div class="form-group">
    <input type="checkbox" ng-model="localConfig.newTabSelected" ng-disabled="!localConfig.newTab" id="newTabSelected"> 
    <label  i18n-content="o_giveNewTabFocus" for="newTabSelected">Give new tab focus.</label>
    <label  i18n-content="o_newTabPosition">New tab´s position:</label>
    <select  id="newTabPosition" class="selector newTabOptions" ng-model="localConfig.newTabPosition" ng-disabled="!localConfig.newTab">
      <option value="Last"  i18n-content="o_last">Last</option>
      <option value="First"  i18n-content="o_first">First</option>
      <option value="Next"  i18n-content="o_next">Next</option>
      <option value="Previous"  i18n-content="o_previous">Previous</option>
    </select>
  </div>

  <div class="form-group">

    <input type="checkbox" ng-model="localConfig.trackGA" id="trackGA"> <label  i18n-content="o_trackSearchEngines" for="trackGA">Track search engines usage.</label>
    <div  i18n-content="o_leavingThisCheckbox"> Leaving this checkbox marked means I'll be tracking your search engines' usage.
      <p>The gathered information is used by me, only for statistical analysis purposes.</p>
      <p>No user information is being tracked.</p>
      <p>No search terms are being tracked (only the search engine used). You can read more about this on <a href="http://simpleselectsearch.blogspot.com/" target="_blank">my blog</a>.</p>
    </div>
  </div>
  <div class="form-group">
    <button data-ng-click="addConfirm('o_areYouSure',restoreDefaultOptions)" class="btn btn-primary" i18n-content="eraseOptions">Restore default options</button>
    <!-- <button data-ng-click="displayRestorePopup=true" class="btn btn-primary" i18n-content="eraseOptions">Restore default options</button> -->
  </div>
</form>

<div class="alert alert-warning alert-dismissible fade in" data-ng-show="displayRestorePopup" role="alert">
  <h6 i18n-content="o_areYouSure"></h6>
  <div class="form-controls-alert">
    <button class="btn btn-default" data-ng-click="displayRestorePopup=false">No</button>
    <button class="btn btn-danger" data-ng-click="restoreDefaultOptions()">Yes</button>
  </div>
</div><!-- end alert -->   